@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorGreen: #0f6567;
$colorYellow: #FF931E;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;


}


@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}

@import url('reset.css');

* {
    box-sizing: border-box;
}

html {
    height: 100%;

}

body {
    @include Roboto;
    color: $color;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    .content_ {
        flex: 1 0 auto;
    }

    footer {
        flex-shrink: 0;
    }
}


main {
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.clear {
    clear: both;
}

a {
    color: $colorYellow;

}

a:hover {
    color: red;
    text-decoration: none;
}

.color_red {
    color: $colorRed;
}

.background_f7f7f7 {
    background: #f7f7f7;
}

.border_top_FFFFFF {
    border-top: 1px solid #ffffff;
}

.flex {
    display: flex;
}

.block {
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.media__1600 {
    display: none;
}

.color_grey {
    color: $colorGrey;
}
.axeld_cont_3_flex {
    padding: 0 0 30px 0;

}















/**
  * editor
  * */

.ellipsis_500 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
    width: 100%;
}

.ellipsis_600 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
    width: 100%;
}


.desc {
    p {
        line-height: 1.3em;
        padding: 9px 0;
        font-weight: 400;
        font-style: normal;
    }

    h1 {
        line-height: 1.1em;
        padding: 13px 0;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        color: #000;
    }

    h2 {
        line-height: 1.1em;
        padding: 13px 0;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
        color: $colorBlue;
    }

    h3 {
        line-height: 1.1em;
        padding: 9px 0;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        color: #000;
    }

    h4 {
        line-height: 1.1em;
        padding: 8px 0;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
        color: $color;
    }

    iframe, embed {
        box-sizing: border-box;
        border: 8px solid $colorRed;
        border-radius: 24px;
        margin: 16px 0;
    }

    ul, ol {
        padding: 10px 10px 10px 6px;
    }

    ul li:before {
        content: '';
        display: inline-block;
        border-radius: 10px;
        width: 8px;
        height: 8px;
        position: absolute;
        background: #cbdaed;
        left: -4px;
        top: 12px;
    }

    ul li {
        padding: 5px 5px 5px 25px;
        font-size: 16px;
        position: relative;
        line-height: 1.4em;
    }

    ol {
        padding-left: 15px
    }

    ol li {
        padding: 5px 5px 5px 5px;
        font-size: 16px;
        position: relative;
        line-height: 1.4em;
        list-style-type: decimal;
    }
}

/**
  * editor
  * */
